* {
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    background: url(../assets/bac.png);
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px 4px #000000;
  }

.cards {
    margin: 280px 150px 0;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s;
}

.navbar a.nav-link,
.navbar a.navbar-brand {
    color: #000 !important;
}

.navbar a.nav-link:hover {
    color: #333 !important;
}
